@font-face {
    font-family: 'Gilroy';
    src: url(../../fonts/Gilroy\ Font/Gilroy-Regular.ttf);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap');

.Tovar p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 140%;
    text-align: center;
    color: #333333;
}

.Tovar h1 {
    font-family: 'Noto Serif';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 41px;
    text-align: center;
    color: #333333;
    margin-top: 15px;
}