@font-face {
    font-family: 'Gilroy';
    src: url(../../fonts/Gilroy\ Font/Gilroy-Regular.ttf);
}



.Asosiy_contact {
    text-align: center;
}

.Asosiy_contact p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #333333;
    margin-top: 60px;
}

.Asosiy_contact h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #333333;
    margin-top: 63px;
}

.Asosiy_contact .header_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
}

.Asosiy_contact .header_side .aloqa h1 {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    color: #333333;
}

.Asosiy_contact .header_side .aloqa p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #333333;
    text-decoration: none;
}