@font-face {
    font-family: 'Gilroy';
    src: url(../../fonts/Gilroy\ Font/Gilroy-Regular.ttf);
}


.Lorem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 150px;
}

.Lorem .delivery_side {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 100px;
}

.Lorem .delivery_side .delivery {
    margin-bottom: 30px;
}

.Lorem .delivery_side .delivery p {
    font-family: 'Gilroy';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #000000;
}